 

<h1>@ViewBag.welcome</h1>
<h2 style="color:@ViewBag.Color">
    @DateTime.Now.ToString()</h2style="color:@ViewBag.Color">
    <h3>@ViewBag.Sum </h3>
    <hr />
    @for (int i = 0; i<5;i++) {
                <div>@i</div>
            }
 <hr />
@foreach(var i in ViewBag.Fruit)
            {
              <div>@i</div>
            }
